.cardContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 15px;
}

.buttonStyle{
    min-width: 20px !important;
    height: 25px;
    padding: 5px;
    margin: 1px !important;
}

.buttonContainer{
    display: flex;
    align-items: center;
}


